.assignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
}

input {
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 45%;
    font-size: 1.2em; /* Larger font size for inputs */
    font-weight: bold; /* Bold font */
}

button {
    padding: 15px 30px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    background-color: #1abc9c; /* Primary button color */
    color: white;
    font-size: 1.2em; /* Larger font size for buttons */
    font-weight: bold; /* Bold font */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16a085; /* Darker shade for hover effect */
}

.letter-grade {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
